In [1]:
import tushare as ts
ts.set_token('ead39614aec755d1c4143fe53fceaf7b2bfc0c09b987b040e520f50d')
pro = ts.pro_api()
pro = ts.pro_api('ead39614aec755d1c4143fe53fceaf7b2bfc0c09b987b040e520f50d')

In [2]:
data = pro.query('stock_basic', exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')

In [4]:
df = pro.daily(trade_date='20180810')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20180810,9.30,9.32,9.16,9.23,9.29,-0.06,-0.6459,424168.36,391366.341
1,000002.SZ,20180810,23.00,24.07,22.93,23.18,22.48,0.70,3.1139,1201163.03,2820091.738
2,000004.SZ,20180810,18.39,18.75,18.03,18.27,18.85,-0.58,-3.0769,17253.09,31617.673
3,000005.SZ,20180810,3.05,3.14,3.02,3.08,3.06,0.02,0.6536,56844.76,17559.883
4,000006.SZ,20180810,5.61,5.93,5.61,5.79,5.60,0.19,3.3929,151639.23,87710.639
...,...,...,...,...,...,...,...,...,...,...,...
3408,603998.SH,20180810,6.54,6.62,6.47,6.55,6.43,0.12,1.8663,33986.00,22231.235
3409,603999.SH,20180810,5.80,5.85,5.76,5.80,5.82,-0.02,-0.3436,17134.37,9931.544
3410,603023.SH,20180810,5.86,5.96,5.84,5.89,5.91,-0.02,-0.3384,7471.81,4393.443
3411,001872.SZ,20180810,18.67,19.50,18.43,19.50,18.72,0.78,4.1667,58377.79,111897.991
3412,001914.SZ,20180810,6.98,7.18,6.98,7.18,7.05,0.13,1.8440,18267.74,13035.341